<div class="jumbotron">
  <p class="lead">
    about me
  </p>
  <em>Will Rayner; {{age}} year old currently living in Australia</em>
</div>

<div class="section">
    <div class="row job-details">
        <div class="col-xs-4">
            <h4>Developer, Atlassian</h4>
            <span class="date">August 2013 - Now</span>
        </div>
        <div class="col-xs-8 job-description">
            <p>
                Senior developer on the Purchasing team. Built and maintained the systems responsible for customer billing, signups, and Atlassian Cloud provisioning. The original code base was over 10 years old, and had been barely kept running with a barebones team of developers.
            </p>
            <p>
                Most projects were written in Java or Javascript. We used a huge variety of frameworks. Spring, Hibernate, Guice, JAX-RS, Maven and Gradle were popular for Java projects. Javascript frameworks included React, Angular, Express, Jasmine and Grunt.
            </p>
            <p>
                During my time there I was <a href="#/atlassian">involved in a variety of projects.</a>
            </p>
        </div>
    </div>
    <div class="row job-details">
        <div class="col-xs-4">
            <h4>Developer, PaperCut Software</h4>
            <span class="date">November 2011 - July 2013</span>
        </div>
        <div class="col-xs-8 job-description">
            Worked on core product development, a java web application installed on the customers server. Designed, implemented and maintained the <a href="#/case/business-systems">internal system for managing orders, license generation, and the reseller network</a>. Implemented core product features that required customer collaboration, with organizations like Oxford University. Delivered a <a href="http://www.youtube.com/watch?v=zrTlSiRw0ms">mobile web application</a> using Backbone. Managed third-level support issues for the core product. Introduced Kanban, Git, and Jenkins into the company.
        </div>
    </div>
    <div class="row job-details">
        <div class="col-xs-4">
            <h4>Intern, Readify</h4>
            <span class="date">January 2011 - June 2011</span>
        </div>
        <div class="col-xs-8 job-description">
            Assisted the marketing team in integrating their CRM, event management system and Campaign Monitor. Involved in security audit for large accounting software customer. Wrote open source API wrapper for <a href="http://www.eventbrite.com.au/">Eventbrite</a>. Assisted in managing company source control and developer infrastructure systems.
        </div>
    </div>
    <div class="row job-details">
        <div class="col-xs-4">
            <h4>Intern, Deloitte Australia</h4>
            <span class="date">July 2010 - December 2010</span>
        </div>
        <div class="col-xs-8 job-description">
            Worked in the risk management and security audit teams. Audited several internal systems for security vulnerabilities. Wrote a plugin for security tool to persist intercepted packets to an SQL database. Moved into the <a href="http://www.deloittedigital.com.au/">Deloitte Digital team</a> and conducted load testing on their <a href="http://bamboo4bcm.com/">new business continuity mobile app</a>.
        </div>
    </div>
</div>
<div class="section centered">
    <em>Graduated in 2011 from Monash University with a Bachelor of Business Information Systems</em>
</div>
<div class="section bordered">
    <div class="project row">
        <div class="description col-xs-12">
            <h4>Personal project - Rental data</h4>
            <p>
                ozrenter.com was a Google App Engine project that pulls rental information from the web and calculates aggregate statistics for geographical areas. The biggest challenge in this project was transforming and storing data in a format that gave me the most potential for use later on. Fetching the data is time-expensive, while calculating aggregate data is not.
            </p>
        </div>
        <img class="col-xs-12 img-rounded" src="images/project_ozrenter.png"/>
    </div>
</div>
<div class="section bordered">
    <div class="project row">
        <div class="description col-xs-12">
            <h4>Personal project - Online parts sales</h4>
            <p>
                In 2012 I partnered with a friend to build a website to sell performance car parts online. This website catered for the Ford XR5, which both of us were experienced in. We secured reseller discounts with some overseas retailers and were able to turn a decent profit.
            </p>
            <p>
                We avoided excess shipping costs by shipping directly from our suppliers (usually UK based) to the customer. We handled all billing and technical questions. This was attractive for Australian customers who wanted answers ASAP, and helped reduce the customer support load on our suppliers.
            </p>
        </div>
    </div>
</div>
<div class="section centered">
    <em>Think we should talk? Feel free to <a href="mailto:raynerw@gmail.com">email me</a></em>
</div>
<div class="section centered">
    <em>I'm not always programming, check out <a href="#/sparetime">what I do with my spare time</a></em>
</div>