<div class="jumbotron">
  <p class="lead">
    my spare time
  </p>
  <em>I'm a bit of a gear-head, here's a couple of my previous projects</em>
</div>
<div class="section row">
    <div class="project">
        <div class="description row col-xs-12">
            <h4>Mechanical interest</h4>
            <p class="">
                My interest in mechanics and performance only really developed after university. It started with the purchase of an old 4th generation Honda Prelude. While the car did have the occasional issues with the electronic four wheel steering, and a tendency to burn oil; these things motivated me to learn more about how things work.
            </p>
        </div>
        <img class="row col-xs-12" src="/images/vehicles/prelude.jpg"/>
        <div class="description row col-xs-12">
            <h4></h4>
            <p>
                I eventually got bored and a little concerned with the Prelude's oil consumption. After some searching I bought a used 2008 Ford Focus XR5. Now that preventative maintenance wasn't the highest priority, I spent more time trying to make the car better in every way.
            </p>
            <p>
                After having the car for about a year I had installed: a full exhaust, intercooler, rear sway bar, limited slip diff, KW V3 adjustable coilovers, and a cold air intake system. While I did have help from some professionals with the diff and coilovers, the rest of the work I did myself.
            </p>
            <p>
                The car saw a bit of action at Phillip Island, but I didn't have the time or money to call myself a track aficionado.
            </p>
        </div>
        <img class="row col-xs-12" src="/images/vehicles/xr5.jpg"/>
        <div class="description row col-xs-12">
            <h4></h4>
            <p>
                After moving to Sydney in mid 2013, I had to get rid of the XR5. I no longer had the garage space for it, and I never had the time to drive it. I purchased a used Suzuki SV650 to replace my old Kawasaki Ninja. I find the bare-bones nature of motorcycles to be appealing. No mess of useless gadgets and accessories, it's just the essentials needed to get from A to B.
            </p>
        </div>
        <img class="row col-xs-12" src="/images/vehicles/sv650.jpg"/>
    </div>
</div>
<div class="section centered">
    <em>Think we should talk? Feel free to <a href="mailto:raynerw@gmail.com">email me</a></em>
</div>